@using EAD_project.Models;

<!DOCTYPE html>
<html lang="en">

<head>
     <!--  CSS File -->
  <link rel="stylesheet" href="~/css/site.css" >
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

 
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Pearl Inn Hotel</title>
  <meta content="" name="description">
  <meta content="" name="keywords">


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">


 


</head>

<body>

  <!-- ======= Header ======= -->
   <header id="header" class="d-flex align-items-center ">
    <div class="container-fluid container-xxl d-flex align-items-center" style="background-color:#221E1E">
    <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="homepage">Home</a></li>
          <li><a class="nav-link scrollto" href="#hero" style="visibility:hidden">About</a></li>
          <li><a class="nav-link scrollto" href="#hotels" style="visibility:hidden">Branches</a></li>          
          <li><a  style="text-decoration:none">Contact</a></li>
          <li><a  style="text-decoration:none">Guest Reviews</a></li>



          <li><a href="reviews" style="visibility:hidden">Guest Reviews</a></li>
          <li><a href="reviews" style="visibility:hidden">Guest Reviews</a></li>
          <li><a href="reviews" style="visibility:hidden">Guest Reviews</a></li>
          <li><a href="reviews" style="visibility:hidden">Guest Reviews</a></li>
          <li><a href="reviews" style="visibility:hidden">Guest Reviews</a></li>
          <li><a href="reviews" style="visibility:hidden"> Revihhews</a></li>


          <li> <a href="loginForm" style="
                                        text-decoration:none; transition-duration: 0.4s;
                                        background-color: #DC143C;
                                        border: none;
                                        color: white;
                                        padding: 16px 32px;
                                        text-align: center;
                                        text-decoration: none;
                                        display: inline-block;
                                        font-size: 16px;
                                        margin: 4px 2px;
                                        transition-duration: 0.4s;
                                        cursor: pointer;">Become a member</a></li>

        </ul>
      </nav>

    </div>
  </header>
  
 <!-- End Header -->

  <!-- ======= Hero Section ======= -->
   <section id="hero">
   <img src="~/images/lobby.jpg" style="height:800px; width:1500px"/>

    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
      <h1 class="mb-4 pb-0">Welcome to<br><span>Pearl Inn</span> Hotel</h1>
      <p class="mb-4 pb-0">Please Signup to proceed Further</p>
      
      <a href="#about" class="about-btn scrollto">About Pearl Inn </a>
    </div>
  </section><!-- End Hero Section -->
  </body>
  </html>