@{
    Layout="~/Views/Shared/header.cshtml";
}
<!DOCTYPE html>
@section section{
    <h3>Branches</h3>
}
<html lang="en">
<head>
  <title>Branches of pearl inn hotel</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
  
</head>
<body>
    <br><br>


 <!-- ======= Hotels Section ======= -->
    <section id="hotels" class="section-with-bg">

      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Other Branches</h2>
          <p>Here are some other Branches of Pearl Inn hotel</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6">
            <div class="hotel">
              
              <p>Click <a href="/Booking/rooms"> Lahore Branch </a> to check rooms of Lahore Branch<p/>

              <div class="stars">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>
              <img src="~/images/1.jpg" class="img-fluid"/>
              <p>Lahore , Pakistan</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="hotel">
              
              <p>Click <a href="/Booking/rooms"> Islamabad Branch </a> to check rooms of Islamabad Branch<p/>
              <div class="stars">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill-half-full"></i>
              </div>
              <img src="~/images/2.jpg" class="img-fluid"/>
              <p>Islamabad , Pakistan </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="hotel">
              
              <p>Click <a href="/Booking/rooms"> Murree Branch </a> to check rooms of Murree Branch<p/>
              <div class="stars">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>
              <img src="~/images/3.jpg" class="img-fluid" />
              <p>Murree , Pakistan</p>
            </div>
          </div>

        </div>
      </div>

    </section><!-- End Hotels Section -->
    </body>
</html>
