<div id="roomdiv">
 <h2>Room Number:@Model.roomNum</h2>
  <div class="card" style="width:400px">
    <img class="card-img-top" src="../@Model.roomPic" alt="room1" style="width:100%">
    <div class="card-body" id="roomname">
      <h5 class="card-title">Price : @Model.roomPrice</h5>
      <h6 class="card-title" >@Model.suite</h6>

      <h4 class="card-title"><a href="price" style="text-decoration:none">Room : @Model.roomNum</a></h4>
      <p class="card-text">@Model.description</p>
    </div>
  </div>
 </div>